<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <%- include('./partials/scripts') %>
</head>

<body>
    <%- include('./partials/nav') %>
        <form action="/blog" method="post" enctype="multipart/form-data"
            class="mt-20 max-w-lg mx-auto rounded border border-solid border-secondary-500 border-cyan-500 p-8">
            <label class="block mb-2 text-xl font-medium text-gray-900 dark:text-purple-500" for="coverImage">Upload
                file</label>
            <input
                class="relative m-0 block w-full min-w-0 flex-auto cursor-pointer rounded border border-solid border-secondary-500 bg-transparent bg-clip-padding px-3 py-[0.32rem] text-base font-normal text-surface transition duration-300 ease-in-out file:-mx-3 file:-my-[0.32rem] file:me-3 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-e file:border-solid file:border-inherit file:bg-transparent file:px-3  file:py-[0.32rem] file:text-surface focus:border-primary focus:text-gray-700 focus:shadow-inset focus:outline-none dark:border-black/70 dark:text-gray-800  file:dark:text-purple-700"
                type="file" id="coverImage" name="coverImage" />
            <div>
                <label for="title"
                    class="block mt-4 py-2 text-xl font-medium text-gray-900 dark:text-purple-500">Title</label>
                <textarea name="title" id="title" rows="4"
                    class="block w-full max-h-[50px] text-lg text-gray-900 bg-gray-50 rounded-lg border border-black focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 px-2"
                    placeholder="Write your title..."></textarea>
                <label for="body"
                    class="block mt-4 py-2 text-xl font-medium text-gray-900 dark:text-purple-500">Body</label>
                <textarea name="body" id="body" rows="4"
                    class="block w-full text-lg text-gray-900 bg-gray-50 rounded-lg border border-black focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500 px-2"
                    placeholder="Write your thoughts here..."></textarea>
                <div class="flex justify-center mt-8">
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
                </div>
            </div>
        </form>
</body>

</html>