<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <%- include('./partials/scripts') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/signinform') %>
</body>
</html>